
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container { 
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 28px
}
.f{
    display: flex;
    flex-wrap: wrap;
}
.body {
    background-image: url(main_bg7.jpg) ;
    background-position: center;
    background-size: cover;

}
.logo {
    display: block;
    width: 60%;
    margin: 0 auto ;
}
.title {
    text-align: center;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    color: white;
    font-size: 26px;

}
   .info {
    display: flex;
    color: white; 
    flex-wrap: wrap;
    margin: 15px 0;
    justify-content: space-between;
   }
   .box{
    width: 49%;
     margin-bottom: 15px;
   }
   .m{
    width: 100%;
    margin-bottom: 15px;
   }
   .box label{
      display:block ;
      font-size: 20px;
     
     }
     .m label{
         display:block ;
     font-size: 20px;
     
     }
     .option{
        width: 49%;
        margin-bottom: 15px;
     }
     .box input,
     .m input,
     .option select {
        width: 100%;
        margin: 0 0 10px 0 ;
        padding: 7px;
        border-radius:5px ;
       
        appearance: none;
        
     }
     .button input{
        width: 100%;
        color: white;
        margin: 20px 0;
        padding: 7px;
         font-size: 17px;
         background-color: rgba(40, 40, 224,0.7);
      border: 0;
     }
     .button input:hover {
         background-color: rgba(95, 64, 145, 0.7);
         transition: 300ms;
         cursor: pointer;
     }
     @media (max-width: 700px){
        .logo,
        .container{
            min-width: 300px;
        }
       .info{
        overflow: scroll;
        scrollbar-width: none;
        max-height: 380px;

       }
       .box{
        width: 100%;
       }
     }
     @media(max-width: 415px){
        .logo {min-width: 250px;
        }
     }
     @media(max-width: 375px){
        .logo{
            min-width: 200px;
        }
     }
